.live-trade-feed {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 70%;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.market-data {
    margin-bottom: 20px;
}

.token-price {
    margin-bottom: 10px;
    font-size: 18px;
}

.trade-activity {
    margin-bottom: 20px;
}

#trade-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
}

#trade-list li {
    background-color: #333;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.price-chart {
    margin-bottom: 20px;
}

.market-indicators {
    text-align: center;
}

.indicator {
    padding: 10px;
    background-color: #1d1d1d;
    color: #f39c12;
    border-radius: 5px;
}
